*.log
.DS_Store
.env
.env.backup
.env.production
.env.dusk.local
.phpactor.json
.phpunit.result.cache
.pint.cache.json
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
phpunit.dusk.xml
Thumbs.db
yarn-error.log

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
