@import 'tailwindcss';

@import 'tw-animate-css';

@plugin "daisyui" {
    logs: false;
    exclude: rootscrollgutter;
}

:where(:root:has(.modal-open, .modal[open], .modal:target, .modal-toggle:checked, .drawer:not(.drawer-open) > .drawer-toggle:checked)) {
    scrollbar-gutter: auto;
    overflow: auto;
}

:root {
    --bg-image-dark: url('../images/background-dark.webp');
    --bg-image-light: url('../images/background-light.webp');
}
